* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 14px;
}

body {
    width: 100%;
    min-height: 100vh;
    background-color: #0c0b0bc5;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.ensinaflix-conteudo {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 60%;
    height: 100vh;
}


.ensinaflix-celular img {
    height: 50rem;
}

.ensinaflix-continue {
    display: flex;
    align-items: center; /* horizontal */
    justify-content: space-around; /* vertical */
    flex-direction: column;
    width: 50%;
    min-height: 10rem;
}

.grupo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: #ffffff;
    width: 60%;
    padding: 1rem 0;
    border: 1px solid lightgray;
    border-radius: 4%;
}

.grupo:nth-child(1) {
    min-height: 19rem;
}

.ensinaflix-logo {
    height: 3rem;
}

.foto-perfil {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
}

.foto-perfil img {
    height: 6rem;
}

.ensinaflix-login {
    background-color: #0095f6;
    color: #ffffff;
    padding: 8px;
    border-radius: 4px;
}

.ensinaflix-logout {
    color: #0095f6;
    margin-top: 1rem;
}

.not-account {
    color: rgb(51, 153, 42);
}

.link-azul {
    color: #0095f6;
}

.get-the-app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1.3rem 0;
    color:#ffffff;
}

.download {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
}

.app-download {
    height: 3rem;
    width: 10rem;
    background-size: cover;
}

.app-download:nth-child(1) {
    background-image: url('./img/apple-button.png');
}

.app-download:nth-child(2) {
    background-image: url('./img/googleplay-button.png');
}

/* media queries */


@media (max-width: 1024px) {
    .instagram-wrapper {
        width: 90%;
    }
}

@media (max-width: 650px) {
    body {
        background-color: #ffffff;
    }

    .ensinaflix-conteudo {
        width: 90%;
    }



    .ensinaflix-continue {
        width: 100%;
    }
    
    .grupo {
        border: 1px solid transparent;
    }
}